import os
# API Keys (Required to enable respective provider)
ANTHROPIC_api_key = os.getenv("API_KEY")       # Required: Format: sk-ant-api03-...
PERPLEXITY_api_key = os.getenv("API_KEY")     # Optional: Format: pplx-...
OPENAI_api_key = os.getenv("API_KEY")             # Optional, for OpenAI/OpenRouter models. Format: sk-proj-...
GOOGLE_api_key = os.getenv("API_KEY")             # Optional, for Google Gemini models.
MISTRAL_api_key = os.getenv("API_KEY")               # Optional, for Mistral AI models.
XAI_api_key = os.getenv("API_KEY")                       # Optional, for xAI AI models.
AZURE_OPENAI_api_key = os.getenv("API_KEY")            # Optional, for Azure OpenAI models (requires endpoint in .taskmaster/config.json).
OLLAMA_api_key = os.getenv("API_KEY")             # Optional: For remote Ollama servers that require authentication.